* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin-top: 15rem;
  background-color: var(--dark-blue-bg);
  color: white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 6.4rem;
  font-weight: 700;
  color: white;
}

.secondary-title {
  font-size: 4rem;
  font-weight: 700;
  color: var(--tertiary-color);
}

.tertiary-title {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 4.5rem;
  color: var(--tertiary-color);
}

p,
.p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.5rem;
}

p:not(:last-of-type),
.p:not(:last-of-type) {
  margin-bottom: 2rem;
}


.btn {
  background-color: none;
  border: 1px solid var(--tertiary-color);
  text-align: center;
  
  padding: 1rem 3rem;
  display: inline-block;
  border-radius: 0.5rem;
  transition: 300ms;
}

.btn.btn-primary {
  background-color: var(--tertiary-color);
  color: var(--black);
  font-weight: bold;
  font-size: 1.5rem;
  width: 150px;
}

.btn.btn-primary:hover {
  background-color: white;
  border: 1px solid white;
}

.btn.btn-secondary {
  color: var(--tertiary-color);
  font-weight: bold;
  font-size: 1.5rem;
  width: 150px;
}

.btn.btn-secondary:hover {
  background-color: white;
  border: 1px solid white;
}

.btn.btn-projects {
  margin-top: 100px;
  color: var(--tertiary-color);

  width: 300px;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 50%;
  transform: translateX(-50%);
  transition: 300ms;
}

.btn.btn-projects:hover {
  background-color: var(--tertiary-color);
  color: black;
}

.max-width {
  width: 100%;
  max-width: 120rem;
  padding: 0 4rem;
  margin: 0 auto;
  margin-bottom: 26rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-s {
  margin-bottom: 1rem;
}

.mb-m {
  margin-bottom: 2rem;
}

.mb-l {
  margin-bottom: 4rem;
}

.mb-xl {
  margin-bottom: 6rem;
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 60%;
  }

  h1 {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 58%;
  }

  .max-width {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 425px) {
  h1 {
    font-size: 4.2rem;
  }
}
