:root {
    --white: #ffffff;
    --gray: #d9d9d9;
    --black: #000000;
    --primary-color: #091B2A;
    --primary-color-dark: #092436;
    --secondary-color: #008cff;
    --secondary-color-dark: #0077ff;
    --tertiary-color: #008cff;
    --tertiary-color-dark: #0077ff;
    --light-tertiary-color: #f3f6fb;
    --text-color: #343d48;
    --font-family: 'DM Sans', sans-serif;
  }