header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  scroll-margin-top: 20rem;
}

header .header__left {
  max-width: 62rem;
  flex: 1;
}

header .header__left .ola {
  font-weight: bold;
  font-size: 3em;
}

header .header__left .dev {
  font-weight: bold;
  font-size: 2em;
  color: var(--secondary-color);
}

header .header__left p {
  margin-top: 2rem;
  margin-bottom: 4rem;
  max-width: 50rem;
}

header .header__right {
  /* width: 72rem; */
  flex: 1;
  max-width: 40rem;
}

header .header__right .header__image {
  position: relative;
  line-height: 0;
  top: -30px;
}

header .header__right .header__image .marcio {
  /* min-width: 45rem; */

  width: 100%;
  height: auto;

  
}

header .header__right .header__image .background {
  position: absolute;
  top: -4rem;
  right: -2.5rem;
  z-index: -1;
}

@media only screen and (max-width: 768px) {
  header {
    flex-direction: column-reverse;
    text-align: center;
  }

  header .header__left .ola {
    font-weight: bold;
    font-size: 3em;
    margin-top: -5rem;
  }

  header .header__left p {
    margin: 2rem auto 4rem;
  }

  header .header__right .header__image {
    margin: 0 auto;    
    max-width: 70%;
    min-width: 0;
    margin-top: -3rem;
  }
}