.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--primary-color);
  font-weight: bold;
}

.logo {
  transition: 300ms;
}
.logo:hover {
  color: var(--secondary-color);
}

.navbar .navbar__content {
  padding: 3rem 4rem 1rem;
  display: flex;
  justify-content: space-between;
}

.navbar .navbar__content .navbar__links li {
  display: inline-block;
}

.navbar .navbar__content .navbar__links li:not(:last-of-type) {
  margin-right: 2rem;
}

.navbar .navbar__content .navbar__links a {
  padding: 1rem;
  display: inline-block;
  transition: 300ms;
}

.navbar .navbar__content .navbar__links a:hover {
  color: var(--secondary-color);
}

.navbar.active {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.342);
}

/* Esconde o menu mobile no desktop */
.navbar .navbar__content .navbar__mobile,
.navbar .navbar__content .navbar__mobile .mobile__links {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar .navbar__content {
    padding: 1.5rem 2rem; /* Reduz o padding para mobile */
  }
  
  .navbar .navbar__content .navbar__links {
    display: none; /* Esconde os links do desktop */
  }

  /* Mostra apenas o link "Voltar ao início" no mobile */
  .navbar .navbar__content .navbar__mobile {
    display: block;
  }

  .navbar .navbar__content .navbar__mobile .mobile__links {
    display: block;
    padding: 0;
    margin: 0;
  }

  .navbar .navbar__content .navbar__mobile .mobile__links li {
    margin: 0;
    display: block;
    text-align: right; /* Alinha o link à direita */
  }

  .navbar .navbar__content .navbar__mobile .mobile__links li a {
    padding: 0.5rem 0;
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }

  .navbar .navbar__content .navbar__mobile .mobile__links li a:hover {
    color: var(--secondary-color);
  }

  /* Remove todas as regras relacionadas ao burguer menu */
  .navbar .navbar__content .navbar__mobile img,
  .navbar .navbar__content .navbar__mobile.active .mobile__links,
  .navbar .navbar__content .navbar__mobile .material-symbols-outlined {
    display: none !important;
  }
}