.projects {
  margin-bottom: 16rem;
  scroll-margin-top: 15rem;
  margin-top: -10rem;
}

.projects .projects__content {
  max-width: 56rem;
  text-align: center;
  margin: 0 auto 6rem;
}

.projects ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  background-color: var(--primary-color-dark);
  border-radius: 10px;
  padding: 15px;
}

.projects ul li.projects__reversed-list {
  flex-direction: row-reverse;

}

.projects ul li:not(:last-of-type) {
  margin-bottom: 12rem;
}

.projects ul li .image img {
  width: 100%;
  min-width: 40rem;
  max-width: 47rem;
  height: auto;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px var(--secondary-color-dark);
}

.projects ul li .projects__info {
  max-width: 47rem;
}

.projects ul li .projects__info p {
  margin: 1rem 0 4rem;
}

.projects ul li .projects__info .projects__btn {
  font-weight: bold;
  display: flex;
  gap: 2em;
  
}

.projects ul li .projects__info .projects__btn a {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--dark-blue-bg);
  border: 1px solid #0767d4;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px var(--secondary-color-dark);
  width: 12rem;
  transition: 300ms;
}

.projects ul li .projects__info .projects__btn a:hover {
  background-color: #0077ff;
}

@media only screen and (max-width: 768px) {

  .projects ul li,
  .projects ul li.projects__reversed-list {
    flex-direction: column;
  }

  .projects ul li .projects__info {
    max-width: 66rem;
  }

  .projects ul li .image img {
    min-width: auto;
  }

  .projects ul li .projects__info .projects__btn {
    justify-content: center;
  }
}